@code {
    [Parameter]
    public DanishEnergyPriceResponse Model { get; set; }
}

<h1>
    Danish energy prices
    @if (Model != null && Model.IsFromCache)
    {
        <em style="font-size: 30%; text-transform:uppercase; vertical-align: super; color: #3b64dd;">Cached</em>
    }
</h1>

@if (Model == null)
{
    <LoaderComponent />
}
else if (Model.RequestSuccessful == false)
{
    <p>
        Error fetching data.
    </p>
}
else
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            <p class="card-text">
                <strong>PriceArea:</strong> @Model.PriceArea<br>
                <strong>Fetch time:</strong> @Model.DateTime <br>
                <strong>Data source:</strong> @Model.DataSourceType
            </p>

        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Hour</th>
                <th>SpotPrice (Megawatt, DKK)</th>
                <th>SpotPrice (Megawatt, EUR)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.RecordsWithPriceData != null)
            {
                         @foreach (var item in Model.RecordsWithPriceData)
            {
                <tr>
                    <td>
                        @item.HourDk
                    </td>
                    <td>
                        @item.SpotPriceMegawattInDKK
                    </td>
                    <td>
                        @item.SpotPriceMegawattInEUR
                    </td>
                </tr>
            }   
            }
        </tbody>
    </table>
}