@code {
    [Parameter]
    public PowerProductionResponse Model { get; set; }
}

<h1>
    Solar power production
    @if (Model != null && Model.IsFromCache)
    {
        <em style="font-size: 30%; text-transform:uppercase; vertical-align: super; color: #3b64dd;">Cached</em>
    }
</h1>

@if (Model == null)
{
    <p>
        Loading production...
    </p>
}
else if (Model.Watts == -1)
{
    <p>
        Error fetching data.
    </p>
}
else
{
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <strong>Produced:</strong> @Model.Watts watts<br>
                <strong>Date:</strong> @Model.DateTime.ToShortDateString() <br>
                <strong>Hour:</strong> @(Model.DateTime.Hour):00 - @(Model.DateTime.Hour):59<br>
                <strong>Data source:</strong> @Model.DataSourceType<br>
            </p>

        </div>
    </div>
}