@code {
    [Parameter]
    public ForecastAggregateResponse Forecast { get; set; }
}

<h1>
    Weather forecast
    @if (Forecast != null && Forecast.IsFromCache)
    {
        <em style="font-size: 30%; text-transform:uppercase; vertical-align: super; color: #3b64dd;">Cached</em>
    }
</h1>

@if (Forecast == null)
{
    <p>
        Loading forecast...
    </p>
}
else
{
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <strong>Location:</strong> @Forecast.LocationName<br>
                <strong>Fetch time:</strong> @Forecast.FetchDateTime
                <strong>Data source:</strong> SOAP Service<br>
            </p>

        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@(nameof(ForecastResponse.Hour))</th>
                <th>@(nameof(ForecastResponse.DegreesCelsius))</th>
                <th>@(nameof(ForecastResponse.CloudCover))</th>
                <th>@(nameof(ForecastResponse.WindSpeedMeterPrSecond))</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Forecast.DataNext24Hours)
            {
                <tr>
                    <td>
                        @item.Hour
                    </td>
                    <td>
                        @item.DegreesCelsius &deg;C
                    </td>
                    <td>
                        @item.CloudCover
                    </td>
                    <td>
                        @item.WindSpeedMeterPrSecond
                    </td>
                </tr>
            }
        </tbody>
    </table>
}